*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: dark light;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

body {
  background-color: var(--color-1);
  min-height: 100vh;
}

@font-face {
  font-family: Pacifico;
  src: url(fonts/Pacifico.ttf);
}

:root {
  --color-1: #343434;
  --color-2: #f9f9f9;
  --color-3: #121234;
  --container-background-color: #efefef;
  --title-background-color: #12123466;
  --footer-creator-color: #787878;
  --error-msg-color: #cc0000;
}

#main-container {
  background-color: var(--container-background-color);
  color: var(--color-1);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 540px;
  width: 800px;
  display: flex;
  margin: 0 auto;
}

#left-side {
  background-image: url("images/background-img-1.jpg");
  background-size: cover;
  height: 100%;
  width: 50%;
}

#title {
  background-color: var(--title-background-color);
  display: flex;
  justify-content: center;
  margin-top: 125px;
  width: 100%;
}

#title > h1 {
  color: var(--color-2);
  font-family: Pacifico;
  font-size: 2rem;
}

#photo-artist {
  color: var(--color-1);
  font-size: 0.5rem;
  margin: 330px auto;
  text-align: center;
}

#photo-artist a {
  color: var(--color-2);
}

#right-side {
  font-size: 0.8rem;
  width: 100%;
}

header {
  height: 185px;
  padding: 40px 30px 0 30px;
}

header p {
  font-weight: 600;
}

header > p > span {
  font-style: italic;
}

main {
  background-color: var(--color-2);
  box-shadow: 0 1px 3px var(--color-1);
  padding: 10px 20px;
  height: 170px;
}

main > p {
  font-weight: 600;
  width: 100%;
}

#sign-up {
  display: flex;
  flex-wrap: wrap;
}

#sign-up div:nth-child(odd) {
  margin-right: 20px;
}

#sign-up div {
  margin-top: 4px;
  width: 200px;
}

#sign-up label {
  font-size: 0.6rem;
}

#sign-up input {
  border-radius: 5px;
  display: block;
  width: 100%;
}

#sign-up input:focus {
  outline: 2px solid var(--color-3);
}

footer {
  font-size: 0.6rem;
  padding: 20px;
}

footer > button {
  background-color: var(--color-3);
  border-radius: 5px;
  cursor: pointer;
  height: 2rem;
  margin-bottom: 10px;
  width: 140px;
}

footer a {
  color: var(--color-3);
}

footer p:last-child {
  color: var(--footer-creator-color);
  text-align: center;
  margin-top: 96px;
}

|| ERROR VALIDATION

.error {
  color: var(--error-msg-color);
  font-size: 0.6rem;
}

#first-name